@inject IProductService ProductService
@inject IJSRuntime jsRuntime

<RadzenRow Gap="1rem">
    <RadzenColumn Size="12">
        <RadzenStack>
            <RadzenFormField Text="Name" Variant="@Variant.Outlined">
                <RadzenTextBox @bind-Value="@productDto.Name" />
            </RadzenFormField>
            
            <div id="search-container">
                <RadzenDropDown Data=@search TValue="string" @bind-Value=@productDto.AutoComplete
                                AllowClear="true" AllowFiltering="true" Style="width: 100%; max-width: 400px;" id="dropdown-search">
                </RadzenDropDown>
            </div>
            

            @* <RadzenFormField Text="Location" Variant="@Variant.Outlined">
                    <RadzenTextBox @bind-Value="productDto.AutoComplete" Style="width:200px; display: block" Name="Location" id="pac-input" Placeholder="Search Box" AutoComplete="true"/>
            </RadzenFormField> *@
        </RadzenStack>
        <RadzenStack>
            <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" class="mt-2 mb-4" Text="Add New Item" Click="@InsertRow" />
            <RadzenDataGrid @ref="itemsGrid" Data="@items" TItem="ItemDto" ColumnWidth="200px">
                <Columns>
                    <RadzenDataGridColumn TItem="ItemDto" Property="Name" Title="Name">
                        <EditTemplate Context="item">
                            <RadzenTextBox @bind-Value="item.Name" Style="width:200px; display: block" Name="Name" />
                            <RadzenRequiredValidator Text="Name is required" Component="Name" Popup="true" />
                        </EditTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ItemDto" Property="Type" Title="Type" Width="280px">
                        <EditTemplate Context="item">
                            <RadzenDropDown Data=@types @bind-Value="@productDto.Type" />
                        </EditTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ItemDto" Property="Cost" Title="Cost">
                        <Template Context="item">
                            @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", item.Cost)
                        </Template>
                        <EditTemplate Context="item">
                            <RadzenNumeric @bind-Value="item.Cost" Style="width:100%" />
                        </EditTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ItemDto" Property="Description" Title="Description">
                        <EditTemplate Context="item">
                            <RadzenTextBox @bind-Value="item.Description" Style="width:200px; display: block" Name="Description" />
                        </EditTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ItemDto" Context="item" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true">
                        <Template Context="item">
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(item))" @onclick:stopPropagation="true">
                            </RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(item))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>
                        <EditTemplate Context="item">
                            <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(item))">
                            </RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(item))">
                            </RadzenButton>
                        </EditTemplate>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenStack>
        <RadzenButton Click=@OnSaveHandler Text="Save" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton Click=@OnCancelHandler Text="Cancel" ButtonStyle="ButtonStyle.Secondary" />
    </RadzenColumn>
</RadzenRow>

@code {
    private ProductDto productDto { get; set; } = new ProductDto();
    private string[] types { get; set; } = new[] { "TypeOne", "TypeTwo" };
    private List<string> search = new List<string>();

    RadzenDataGrid<ItemDto> itemsGrid;
    IEnumerable<ItemDto>? items = new List<ItemDto>();

    ItemDto itemToUpdate;
    ItemDto itemToInsert;

    private int itemCount = 0; // A counter to generate unique IDs

    private IJSObjectReference _jsConnection;

    private void Reset()
    {
        itemToInsert = null;
        itemToUpdate = null;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("initService", DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public void AddSearch(string item)
    {
        search.Add(item);
        StateHasChanged();
    }

    async Task EditRow(ItemDto item)
    {
        itemToUpdate = item;
        await itemsGrid.EditRow(item);
    }

    void OnUpdateRow(ItemDto item)
    {
        Reset();
    }

    async Task SaveRow(ItemDto item)
    {
        await itemsGrid.UpdateRow(item);
    }

    void CancelEdit(ItemDto item)
    {
        Reset();
        itemsGrid.CancelEditRow(item);
    }

    async Task DeleteRow(ItemDto item)
    {
        Reset();

        if (items.Contains(item))
        {
            await itemsGrid.Reload();
        }
        else
        {
            itemsGrid.CancelEditRow(item);
            await itemsGrid.Reload();
        }
    }

    async Task InsertRow()
    {
        itemToInsert = new ItemDto();
        await itemsGrid.InsertRow(itemToInsert);
    }

    void OnCreateRow(ItemDto item)
    {
        itemToInsert = null;
    }

    private async void OnSaveHandler()
    {
        var response = await ProductService.CreateProduct(productDto);
        if (response)
            Console.WriteLine("Product Saved!");
        else
            Console.WriteLine("Error!");
    }

    private void OnCancelHandler()
    {
        
    }
}
