@inject IProductService ProductService
@inject IJSRuntime jsRuntime
@inject DialogService DialogService
@inject StateContainer stateContainer

<h3>Create New Product</h3>

<RadzenRow Gap="1rem">
    <RadzenColumn Size="12">
        <RadzenStack>

            <!-- Name of Product -->
            <RadzenFormField Text="Name" Variant="@Variant.Outlined">
                <RadzenTextBox @bind-Value="@itemDto.Name" />
            </RadzenFormField>

            <!-- Type of Product -->
            <RadzenFormField Text="Type" Variant="@Variant.Outlined">
                <RadzenDropDown Data=@types @bind-Value="@itemDto.Type" />
            </RadzenFormField>

            <!-- Cost of Product -->
            <RadzenFormField Text="Cost" Variant="@Variant.Outlined">
                <RadzenNumeric @bind-Value="itemDto.Cost" />
            </RadzenFormField>

            <!-- Location of Product -->
            <RadzenFormField id="search-container" Text="Location" Variant="@Variant.Outlined">
                <RadzenDropDown Data=@search TValue="string" @bind-Value=@itemDto.Location.Name
                                AllowClear="true" AllowFiltering="true" Style="width: 100%;" id="dropdown-search">
                </RadzenDropDown>
            </RadzenFormField>

            <!-- Description of Product -->
            <RadzenFormField Text="Description" Variant="@Variant.Outlined">
                <RadzenTextBox @bind-Value="itemDto.Description" Style="width:200px; display: block" Name="Description" />
            </RadzenFormField>

        </RadzenStack>

        @if (!hideTable)
        {
            <RadzenStack>
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" class="m-3" Text="Add New Item" Click="AddItem" />
                <RadzenDataGrid @ref="itemsGrid" Data="@productDto.Items" TItem="ItemDto">
                    <Columns>
                        <RadzenDataGridColumn TItem="ItemDto" Property="Name" Title="Name" TextAlign="TextAlign.Center" />
                        <RadzenDataGridColumn TItem="ItemDto" Property="Type" Title="Type" TextAlign="TextAlign.Center" />
                        <RadzenDataGridColumn TItem="ItemDto" Context="item" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" />
                    </Columns>
                </RadzenDataGrid>
            </RadzenStack>
        }

        <div class="d-flex justify-content-end mt-4">
            <RadzenButton Click=@OnSaveHandler Text="Save" ButtonStyle="ButtonStyle.Primary" class="m-2" />
            @if (hideTable)
            {
                <RadzenButton Click=@AddItem Text="Add Item" ButtonStyle="ButtonStyle.Light" class="m-2" />
            }
            <RadzenButton Click=@OnCancelHandler Text="Cancel" ButtonStyle="ButtonStyle.Secondary" class="m-2" />
        </div>
    </RadzenColumn>
</RadzenRow>

@code {
    private ItemDto itemDto { get; set; } = new ItemDto();
    private ProductDto productDto { get; set; } = new ProductDto();

    private string[] types { get; set; } = new[] {
        "Fruits and Vegetables", "Dairy and Eggs", "Meat and Seafood", "Bakery", "Frozen Foods", "Pantry Staples", "Snacks and Confectionery", "Beverages", "Health and Beauty", "Household Goods"
    };

    private List<string> search = new List<string>();

    RadzenDataGrid<ItemDto> itemsGrid;

    private bool hideTable { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        productDto.Items = new List<ItemDto>();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("initService", DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public void AddSearch(string item)
    {
        search.Add(item);
        StateHasChanged();
    }

    async Task DeleteRow(ItemDto item)
    {
        if (productDto.Items != null && productDto.Items.Contains(item))
        {
            await itemsGrid.Reload();
        }
        else
        {
            itemsGrid.CancelEditRow(item);
            await itemsGrid.Reload();
        }
    }

    private async void OnSaveHandler()
    {
        Console.WriteLine("Product: " + productDto.Items.Count());
        var response = await ProductService.CreateProduct(productDto);
        if (response)
            Console.WriteLine("Product Saved!");
        else
            Console.WriteLine("Error!");
    }

    private void OnCancelHandler()
    {
        DialogService.Close();
    }

    private async Task AddItem()
    {
        Console.WriteLine("itemDto: " + itemDto.Name);
        //Insert item into list
        if (itemDto != null)
        {
            itemDto.GroceryStoreId = stateContainer.GroceryStoreId;
            Console.WriteLine("GroceryStoreId: " + itemDto.GroceryStoreId);
            //Make table visible (if not already)
            //if (hideTable)
            //    hideTable = false;
            //StateHasChanged();

            Console.WriteLine("INSIDE!!");
            //productDto.Items.Append(itemDto);
            productDto.Items.Add(itemDto);
            Console.WriteLine("Item Added = " + itemDto.Name);
            Console.WriteLine("Confirmed updated count = " + productDto.Items.Count());
            if (itemsGrid != null)
                await itemsGrid.InsertRow(itemDto);
            StateHasChanged();
        }

        //Clear the item
        itemDto = new();
    }
}
